@media (max-width: 700px) {
    body{
        width: 100vw;
        height: 100vh;
     }
    .main{
        padding-top: 25vw;
        height:100% ;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        border-radius: 0;
        text-align: center;
    }
    .searchbox input{
        width: 65%;
        height: 2.5rem;
    }
    .icon i {
        margin: 10px 0 0 3px;
    }
    .image{
        padding-top: 55px;
    }
    .temp {
        color: rgba(255,255,255, 0.9);
    }
    .city{
        color: rgba(255,255,255, 0.8);
        font-weight: 400;
    }
    .humidity{
        color: rgba(255,255,255, 0.8);
    }
    .wind{
        color: rgba(255,255,255, 0.8);  
    }
    .wind span {
        margin-left: 1px;
    }
}